.main__section {
    height: 100vh;
    position: relative;
    background-image: url('../../images/hero-bg.png'), linear-gradient(180deg, #5D92E1 0%, #9CC4FF 100%);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    padding-top: 20px;
    overflow: hidden;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .main__section {
        background-image: url('../../images/hero-bg@2x.png'), linear-gradient(180deg, #5D92E1 0%, #9CC4FF 100%);
    }
}

.main__nav {
    display: flex;
    justify-content: end;
    line-height: 1.13;
    color: #fff;
}

.main__nav-link {
    display: block;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: 2px solid transparent;
    border-radius: 15px;
    padding: 11px 21px 11px 21px;
    transition: all 0.8s ease;

    &.active {
        color: #303F9F;
    }

    &:not(:last-child) {
        margin-right: 12px;
    }

    &:hover,
    :focus-visible {
        border: 2px solid #fff;

        &.active {
            border: 2px solid #303F9F;
        }
    }
}

.main__title {
    margin-top: 90px;
    font-size: 56px;
    font-weight: 400;
    line-height: 1.2;
}

.main__title span {
    display: inline-block;
    transform: translate(0px, 120%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 1s ease;

    &.shown {
        transform: translate(0, 0) rotate(0deg) scale(100%);
        opacity: 1;
    }
}

.main__about {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.32;
    margin-top: 25px;
    margin-bottom: 40px;
}

.main__about span {
    display: inline-block;
    transform: translate(0px, 120%) rotate(15deg);
    opacity: 0;
    transition: transform 0.3s ease, opacity 1s ease;

    &.shown {
        transform: translate(0, 0) rotate(0deg) scale(100%);
        opacity: 1;
    }
}

.main__links-wrapper {
    display: flex;
}

.main__nav-link.button {
    background: #303F9F;
    border: 2px solid transparent;
    border-radius: 15px;
    transform: scale(130%) rotateX(0deg);
    opacity: 0;
    transition: all 0.8s ease;

    &.active {
        background-color: #fff;
    }

    &.shown {
        transform: scale(100%);
        opacity: 1;
    }

    &:hover,
    :focus-visible {
        border: 2px solid #fff;

        &.active {
            border: 2px solid #303F9F;
        }
    }
}

.insurance-title {
    font-size: 18px;
    line-height: 1.27;
    margin-bottom: 22px;

}

.insurance-wrapper {
    position: absolute;
    left: 30px;
    bottom: 80px;
    transform: translate(-100%, 0);
    opacity: 0;
    transition: all 0.4s ease;

    &.shown {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.insurance-list {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 15px 48px;
}

.main__img {
    width: 627px;
    height: auto;
    position: absolute;
    right: 30px;
    bottom: 68px;
    opacity: 0;
}